/* UNIVERSAL SELECTOR */
* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

/* ELEMENT SELECTORS */
h1,
h2,
h3 {
  color: #111;
}

p {
  color: #444;
}

/* ID SELECTOR */
#main-header {
  background: #95b3d1;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-bottom: 3px solid #023570;
}

/* CLASS SELECTOR */
.highlight {
  background: #95b3d1;
  padding: 10px;
  border-left: 4px solid #023570;
  border-radius: 0 10px 10px 0;
  color: #fdfdfd;
}

.link-button {
  background: #023570;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
}

.img-box {
  border-radius: 8px;
}

/* LIST */
.custom-list li {
  color: #0d0d0e;
  font-weight: bold;
  background: #95b3d1;
  padding: 6px 10px;
  margin: 5px 0;
  border-left: 4px solid #023570;
  border-radius: 4px;
  list-style-type: square;
}

/* TABLE */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: #95b3d1;
  border-radius: 6px;
}

.table th {
  background: #023570;
  padding: 10px;
  color: #ffffff;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 6px;
}

.table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-radius: 6px;
}

/* CARD */
.card {
  border: 2px solid #023570;
  padding: 20px;
  width: 250px;
  border-radius: 12px;
  background: #deeaf7;
}

.card-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.card-content {
  color: #555;
}

/* BUTTON */
.btn {
  background: #023570;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background: #95b3d1;
}

/* ATTRIBUTE SELECTOR */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px dotted #95b3d1;
  border-radius: 6px;
}

/* GROUPED SELECTOR */
label,
input {
  display: block;
}
