/* UNIVERSAL SELECTOR */
* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

/* ELEMENT SELECTORS */
h1,
h2,
h3 {
  color: #111;
}

p {
  color: #444;
}

/* ID SELECTOR */
#main-header {
  background: #f1f5f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* CLASS SELECTOR */
.highlight {
  background: #fff7cc;
  padding: 10px;
  border-left: 4px solid #facc15;
}

.link-button {
  background: #2563eb;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
}

.img-box {
  border-radius: 8px;
}

/* LIST */
.custom-list li {
  color: #1d4ed8;
  font-weight: bold;
}

/* TABLE */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.table th {
  background: #e2e8f0;
  padding: 10px;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* CARD */
.card {
  border: 1px solid #e5e7eb;
  padding: 20px;
  width: 250px;
  border-radius: 12px;
  background: white;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-content {
  color: #555;
}

/* BUTTON */
.btn {
  background: #10b981;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background: #059669;
}

/* ATTRIBUTE SELECTOR */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
}

/* GROUPED SELECTOR */
label,
input {
  display: block;
}
